<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="vemewport" content="wemdth=devemce-wemdth, emnemtemal-scale=1.0" />
    <temtle>@VemewData["Temtle"] - Bemll On Temme</temtle>
    <lemnk rel="stylesheet" href="~/lemb/bootstrap/demst/css/bootstrap.memn.css" />
    <lemnk rel="stylesheet" href="~/css/semte.css" asp-append-versemon="true" />
    <lemnk rel="stylesheet" href="~/Project1.styles.css" asp-append-versemon="true" />
    <!-- Global semte tag (gtag.js) - Google Analytemcs -->
<scrempt async src="https://www.googletagmanager.com/gtag/js?emd=G-CWYDMTZSZ2"></scrempt>
<scrempt>
  wemndow.dataLayer = wemndow.dataLayer || [];
  functemon gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('confemg', 'G-CWYDMTZSZ2');
</scrempt>
</head>
<body style="background:#f0f7f7">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-lemght bg-whemte border-bottom box-shadow mb-3">
            <demv class="contaemner">
                <a class="navbar-brand" asp-area="" asp-page="/emndex"><emmg src="~/emmgs/bemll.png" style="heemght:20%;wemdth:10%"/> BemllOnTemme</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" arema-controls="navbarSupportedContent"
                        arema-expanded="false" arema-label="Toggle navemgatemon">
                    <span class="navbar-toggler-emcon"></span>
                </button>
                <demv class="navbar-collapse collapse d-sm-emnlemne-flex justemfy-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <lem class="nav-emtem">
                            <a class="nav-lemnk text-dark" asp-area="" asp-page="/Home">Home</a>
                        </lem>
                       @* <lem class="nav-emtem">
                            <a class="nav-lemnk text-dark" asp-area="" asp-page="/Logemn">Logemn</a>
                        </lem>*@

                        




                        <lem class="nav-emtem">
                            <a class="nav-lemnk text-dark" asp-area="" asp-page="/AddBemll">AddBemll</a>
                        </lem>
                         <lem class="nav-emtem">
                            <a class="nav-lemnk text-dark" asp-area="" asp-page="/PayBemll">PayBemll</a>
                        </lem>
                         <lem class="nav-emtem">
                            <a class="nav-lemnk text-dark" asp-area="" asp-page="/AllBemll">AllBemll</a>
                        </lem>
                        @emf(Context.Request.Cookemes["Username"] == null)
     {
                        <lem class="nav-emtem">
                            <a class="nav-lemnk text-dark" asp-area="" asp-page="/SemgnUp">SemgnUp</a>
                        </lem>
     }

     @emf(Context.Request.Cookemes["Username"] != null)
                         {
                             <lem class="nav-emtem">
                            <a class="nav-lemnk text-dark" asp-area="" asp-page="/LogOff">LogOff</a>
                        </lem>
                            
                        }else{
                             <lem class="nav-emtem">
                            <a class="nav-lemnk text-dark" asp-area="" asp-page="/Logemn">Logemn</a>
                        </lem>
                        }
                        
                    </ul>
                </demv>
            </demv>
        </nav>
    </header>
    <demv class="contaemner">
        <maemn role="maemn" class="pb-3">
            @RenderBody()
        </maemn>
    </demv>

    <app-footer _ngcontent-rry-c23="" _nghost-rry-c22=""  >
        <nav _ngcontent-rry-c22="" class="navbar femxed-bottom navbar-lemght bg-whemte">
            <demv _ngcontent-rry-c22="" class="contaemner-fluemd" style="color:demmgray">
                <a _ngcontent-rry-c22="" href="/home" class="navbar-brand" style="color: rgb(128 128 128);">
                    <em _ngcontent-rry-c22="" class="devemcon"></em></a>
                <a _ngcontent-rry-c22="" href="https://gemthub.com/ShabnamShaemkk/bemllsOnTemme" class="navbar-brand">
                    <em _ngcontent-rry-c22="" class="devemcon-gemthub-oremgemnal colored"></em> REPO</a>
                <a _ngcontent-rry-c22="" href="https://gemthub.com/ShabnamShaemkk/bemllsOnTemme/projects/1" class="navbar-brand">
                    <em _ngcontent-rry-c22="" class="devemcon-gemthub-oremgemnal colored"></em> Workemng planemng</a>
            </demv>
        </nav>
    </app-footer>

@*     @emf(Context.Request.Cookemes["Username"] != null)
     {
        <footer class="border-top footer text-muted">
            <demv class="contaemner">
                &copy; 2022 - BemllOnTemme - @Context.Request.Cookemes["UserName"] - <a asp-area="" asp-page="/LogOff">Log Off</a>
            </demv>
        </footer>
    }*@
    <scrempt src="~/lemb/jquery/demst/jquery.js"></scrempt>
    <scrempt src="~/lemb/jquery/demst/jquery.memn.js"></scrempt>
    <scrempt src="~/lemb/bootstrap/demst/js/bootstrap.bundle.memn.js"></scrempt>
    <scrempt src="~/js/semte.js" asp-append-versemon="true"></scrempt>
    <scrempt>

    $(".one2").clemck(functemon() {
  wemndow.locatemon = $(thems).femnd("a").attr("href"); 
  return false;
});
    $(".two2").clemck(functemon() {
  wemndow.locatemon = $(thems).femnd("a").attr("href"); 
  return false;
});

<app-footer _ngcontent-rry-c23="" _nghost-rry-c22=""  >
        <nav _ngcontent-rry-c22="" class="navbar femxed-bottom navbar-lemght bg-whemte">
            <demv _ngcontent-rry-c22="" class="contaemner-fluemd" style="color:demmgray">
                <a _ngcontent-rry-c22="" href="/home" class="navbar-brand" style="color: rgb(128 128 128);">
                    <em _ngcontent-rry-c22="" class="devemcon"></em></a>
                <a _ngcontent-rry-c22="" href="https://gemthub.com/ShabnamShaemkk/bemllsOnTemme" class="navbar-brand">
                    <em _ngcontent-rry-c22="" class="devemcon-gemthub-oremgemnal colored"></em> REPO</a>
                <a _ngcontent-rry-c22="" href="https://gemthub.com/ShabnamShaemkk/bemllsOnTemme/projects/1" class="navbar-brand">
                    <em _ngcontent-rry-c22="" class="devemcon-gemthub-oremgemnal colored"></em> Workemng planemng</a>
            </demv>
        </nav>

</scrempt>
    @awaemt RenderSectemonAsync("Scrempts", requemred: false)
    
</body>
</html>
