@page
@model Project1.Pages.PaybillModel
@{
    ViewData["Title"] = "Pay Bills";
}

    <h1>Hi, @ViewData["FullName"]</h1>
    <form method="post">
   <div><b>Pay Bills</b><br /></div>  
   <br />
<table class="table table-bordered table-responsive table-hover">  
    <tr>  
        <th>Bill Name</th>  
        <th>Amount($) </th>  
        <th>Due Date</th>  
        <th>Status</th>
        <th>Click To Pay</th> 
    </tr>  
            @if (@Model.billDetails != null)
            { 
            @foreach (var d in @Model.billDetails)  
    {  
        <tr>    
            <td>@d.BillType</td>  
            <td>$@d.Amount</td>  
            <td>@d.DueDate</td>   
            <td>@d.Status</td>   
            <td>
                <button id="pay" name="pay" value="@d.BillNumber" class="btn-primary" onclick="return confirm('Are you sure you want to pay bill of @d.BillType of Amount  $@d.Amount ?');"> Pay Bill</button>
            </td>
        </tr>  
    } 
    }
</table> 
</form>
